@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

body {
  font-family: var(--font-poppins), sans-serif;
}

@layer base {
  /* globals.css */

  :root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --accent-color: #007bff;
  }

  .theme-warm {
    --bg-color: #f94807;
    --text-color: #ffffff;
    --accent-color: #ff6347;
  }

  .theme-cool {
    --bg-color: #001f3f;
    --text-color: #ffffff;
    --accent-color: #1e90ff;
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  .accent {
    color: var(--accent-color);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Customize the slider track */
.custom-slider .slider-track {
  background-color: #ddd; /* Color of the track */
  height: 4px; /* Adjust track thickness */
}

/* Highlight the filled portion */
.custom-slider .slider-range {
  background-color: #1e90ff; /* Color of the filled track */
  height: 4px;
}

/* Style the slider thumb */
.custom-slider .slider-thumb {
  background-color: #ff6347; /* Color inside the thumb circle */
  border: 2px solid #fff; /* Optional: white border around the thumb */
  width: 16px; /* Adjust thumb size */
  height: 16px;
  border-radius: 50%;
}

@keyframes revealDown {
  from {
    transform: translateY(-0%);
  }
  to {
    transform: translateY(110%);
  }
}

.animate-revealDown {
  animation: revealDown 3s ease-in-out forwards;
}
